.window {
  border: 1px solid #3f3f47;
  background-color: #1e1f23;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:
    0px 8px 15px #050505,
    0px 12px 15px #050505,
    0px 40px 70px #050505;
  margin-bottom: 10.5vh;
  opacity: 1;
  z-index: 3;

  #handle {
    cursor: pointer;
    width: 100%;
  }

  .projs {
    overflow: scroll;
    scrollbar-color: #1e1f23 transparent;
    scrollbar-width: thin;
  }
}

.openProjs {
  position: absolute;
  top: 29px;
  width: 50vw;
  height: 40vw;
}

.closedProjs {
  transition: 0.4s all;
  transform: scale(0.0001) !important;
  transition: transform none;
  position: absolute;
  top: 29px;
  width: 50vw;
  height: 40vw;
}

.minimizedProjs {
  transition: 0.6s all;
  transform: scale(0.0001) !important;
  transition: transform none;
  position: absolute;
  right: 120px;
  top: 375px;
  width: 50vw;
  height: 40vw;
}

.stretchedProjs {
  // transition: 0.4s all;
  position: absolute;
  top: 31px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 29px);
  z-index: 6;
}
.projs_z {
  z-index: 8 !important;
}

.tags {
  color: #ff4545;
  opacity: 0.6;
  left: 90px;
  font-size: 1.2em;
  font-family: "La Belle Aurore", cursive;

  @media screen and (max-width: 768px) {
    left: 100px;
    font-size: 1em;
  }

  .lower {
    margin-left: 20px;
  }
}
