.dock {
  display: flex;
  background-color: hsla(240, 3%, 11%, 0.4);
  align-items: center;
  box-shadow: 0px 0px 4px black;
  height: 71px !important;
  justify-content: space-evenly;
  border: 1px solid rgb(85, 84, 84);
  border-radius: 18px;
  width: 750px;
  margin-top: 50px;
  position: absolute;
  bottom: 15px;
  backdrop-filter: blur(15px);
  overflow-y: visible !important;
  z-index: 10;
  gap: 5px;

  .dock-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 4px;
    transition: 0.175s all ease-in-out;
    align-items: center;

    .tool-tip {
      position: absolute;
      width: max-content;
      top: -60px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.5);
      color: ghostwhite;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 8px 3px 8px;
      backdrop-filter: blur(20px);
      transition: 0.2s all;
      opacity: 0;
      visibility: hidden;
    }

    .dock-icon {
      height: 3.6rem;
      transition: 0.175s all ease-in-out;
      cursor: pointer;
    }

    .divison {
      width: 1px;
      height: 62px;
      background-color: rgb(85, 84, 84);
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  .dock-item:hover {
    margin-top: -30px;

    &:hover {
      .tool-tip {
        opacity: 1;
        visibility: visible;
      }

      .dock-icon {
        height: 90px;
        width: 88px;
      }
    }
  }
}

.dock-hide {
  opacity: 0;
  // transform: translateY(100%);
  // transform: scaleY(0);
}

.dock-hide:hover {
  opacity: 1;
  // transform: scaleY(1);
}
