.tags {
  color: #ff4545;
  opacity: 0.6;
  left: 90px;
  font-size: 1.2em;
  font-family: "La Belle Aurore", cursive;

  @media screen and (max-width: 768px) {
    left: 90px;
    font-size: 1em;
  }

  .lower {
    margin-left: 20px;
  }
}

.text__zone {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  @media screen and (max-width: 768px) {
    width: 80%;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #ff4545;
    font-family: "Raleway", sans-serif;
    position: relative;
    animation: 1s ease 0s 1 slideInFromLeft;
    letter-spacing: 1px;
    margin-left: 1.5em;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
      margin-bottom: 0;
      margin-left: 0;
      align-self: center;
    }

    @keyframes slideInFromLeft {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &::before {
      content: "<h1>";
      color: #ff4545;
      font-size: 2rem;
      position: absolute;
      margin-top: -40px;
      opacity: 0.6;
      left: -0.9em;
      font-family: "La Belle Aurore", cursive;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        margin-top: -20px;
      }
    }

    &::after {
      content: "</h1>";
      color: #ff4545;
      font-size: 2rem;
      position: absolute;
      margin-top: 1.2em;
      margin-left: 1.4em;
      opacity: 0.6;
      font-family: "La Belle Aurore", cursive;
      animation: fadeIn 1s 1.7s backwards;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        margin-left: 0.6em;
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
